<%- include("partials/header.ejs") %>
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="images/blog.png" alt="" width="72">
        <h1 class="display-5 fw-bold text-body-emphasis">Welcome to the Blog!</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Use this website to create and view blog posts.<br>
                P.S. Blog posts will be deleted when you refresh the page.
            </p>

            <!-- Two buttons in page to go to the two options of create and view -->
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="/create"><button type="button" class="btn btn-primary btn-lg px-4 gap-3">Create
                        Post</button></a>
                <a href="/view"><button type="button" class="btn btn-secondary btn-lg px-4">View
                        Posts</button></a>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>